div#divStartPage {
    top: 50%;
    margin: auto;
    width: 570px;
    height: 130px;
    margin-top: -80px;
    position: relative;
}

div#divStartPage button {
    width: 130px;
    height: 130px;
    margin: 0 5%;
    padding: 0;
    background: none;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ffffff;
}

div#divStartPage button[disabled] {
    background: #cecece;;
}

div#divStartPage button img {
    width: 80%;
    height: 80%;
    margin: 10%;
}

div#divStartPage button#btnCadParticipante[disabled] img {
    content: url('../Images/menuParticipanteDisabled.png');
}

div#divStartPage button#btnCadPartida[disabled] img {
    content: url('../Images/menuPartidaDisabled.png');
}

div#divStartPage button span.legend {
    bottom: 0;
    width: 92%;
    height: 45px;
    padding: 5px;
    display: none;
    color: #ffffff;
    line-height: 20px;
    position: absolute;
    background: rgba(0, 0, 0, .5);
}

div#divStartPage button:not([disabled]):hover {
    cursor: pointer;
}

div#divStartPage button:not([disabled]):hover > span.legend {
    display: block;
}
