body {
  	width: auto;
  	height: auto;
  	margin: 0;
  	padding: 0;
  	font-family: 'Open Sans', sans-serif;
}

.App {
	text-align: center;
}

.App-logo {
  	animation: App-logo-spin infinite 20s linear;
  	height: 80px;
}

.App-header {
  	background-color: #222;
  	height: 150px;
  	padding: 20px;
  	color: white;
}

.App-title {
  	font-size: 1.5em;
}

.App-intro {
  	font-size: large;
}

@keyframes App-logo-spin {
  	from { transform: rotate(0deg); }
  	to { transform: rotate(360deg); }
}

div#container header#cabecalho {
	height: 10%;
	background: #f2f2f2;
	line-height: 100px;
	vertical-align: middle;
	text-align: center;
}

div#container header#cabecalho img {
	height: 95px;
	vertical-align: middle;
}

div#container header#cabecalho button {
  	width: 100px;
  	display: inline-block;
	border: none;
	border-radius: 2px;  
  	padding: 3px 0;
	cursor: pointer;
	margin-left: 30px;
	vertical-align: middle;  
}

div#container header#cabecalho button:hover {
	color: #ffffff;
  	background: #000000;
}

div#container iframe#conteudoWebForms,
div#container section#conteudoReact {
	width: 100%;
	height: 82.5%;
	display: none;
	position: absolute;
	background: #222222;
}

div#container iframe#conteudoWebForms {
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	overflow-y: hidden;
}

div#container footer {
	width: 100%;
	height: 7.5%;
	line-height: 45px;
	text-align: center;
	background: #f2f2f2;
	position: fixed;
	bottom: 0px;
}

div#divError404 {
	color: #ff0000;
	
}
