body {
  width: 1345px;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

section#conteudo iframe {
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
}

section#conteudo button {
  width: 49.8%;
  display: inline-block;
  border: none;
  padding: 3px 0;
  cursor: pointer;
}

section#conteudo button:hover {
  color: white;
  background: black;
}

img {
  width: 100%;
  position: relative;
}


